.wrapper {
  width: 100%;
  height: 100%;
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  background-color: var(--color-background);

  .content {
    max-width: var(--max-w-content);
    height: 100%;
    margin: 0 auto;

    .logo_wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: var(--space-xl);
    }

    .title {
      text-align: center;
      font-weight: 800;
      text-transform: uppercase;
    }

    .description {
      text-align: center;
    }

    .search_bar {
      margin: var(--space-4xl);
    }
  }
}
